.git
.github
.env
.env.*
!.env.example
.idea
.vscode
internal_docs
node_modules
**/node_modules
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/dist
**/build
.data
tmp
coverage.*
reports
